In [1]:
%load_ext autoreload
%load_ext autotime

time: 165 µs (started: 2024-01-30 22:10:25 -08:00)

In [2]:
import dask
import dask.dataframe as dd
import multiprocessing.popen_spawn_posix
import numpy as np
import pandas as pd
print('pandas', pd.__version__)
print('dask', dask.__version__)
print('numpy', np.__version__)

pandas 2.1.2
dask 2023.9.3
numpy 1.24.3
time: 1.73 s (started: 2024-01-30 22:10:25 -08:00)

In [30]:
# np.tan(10)

import math

# math.tan(1)

# math.tan(10 * math.pi / 180)

# np.tan(45 * math.pi / 180)

np.tan(np.deg2rad(10))

0.17632698070846498

time: 2.66 ms (started: 2024-01-30 22:17:14 -08:00)

In [4]:
import numpy as np

vals = [
    0.17632698,  # tan10 = 0.17632698
    0.36397023,  # tan20 = 0.36397023
    0.57735027,  # tan30 = 0.57735027
    0.83909963,  # tan40 = 0.83909963
    1.19175359,  # tan50 = 1.19175359
    1.73205081,  # tan60 = 1.73205081
    2.74747742,  # tan70 = 2.74747742
    5.67128182,  # tan80 = 5.67128182
]

for i, d in enumerate([10, 20, 30, 40, 50, 60, 70, 80]):
    print(np.tan(np.deg2rad(d)), vals[i])

0.17632698070846498 0.17632698
0.36397023426620234 0.36397023
0.5773502691896257 0.57735027
0.8390996311772799 0.83909963
1.19175359259421 1.19175359
1.7320508075688767 1.73205081
2.7474774194546216 2.74747742
5.671281819617707 5.67128182

In [60]:
# /g/g91/izzet/projects/wisio/.wisio/recorder_montage_pegasus_view_types/1705631601.db
import sqlite3

con = sqlite3.connect('/g/g91/izzet/projects/wisio/.wisio/recorder_cm1_view_types/1705629201.db')

df = pd.read_sql('select * from slope', con=con)
df

,time_range,count_sum,count,count_cs,count_cs_per,count_cs_per_rev,count_cs_per_rev_diff,time_sum,time,time_per,time_per_rev_cs,time_per_rev_cs_diff,time_slope
0,5,27463,32,32,0.998835,0.001165,0.000000,5.854984,2.191843,0.625645,0.374355,0.000000,0.000000
1,634,27463,40,72,0.997378,0.002622,0.001457,5.854984,0.328102,0.943962,0.430393,0.056038,1.488861
2,668,27463,909,981,0.964279,0.035721,0.033099,5.854984,0.277307,0.952637,0.477756,0.047363,34.947604
3,450,27463,567,1548,0.943633,0.056367,0.020646,5.854984,0.240101,0.958992,0.518764,0.041008,26.723503
4,128,27463,337,1885,0.931362,0.068638,0.012271,5.854984,0.201961,0.965506,0.553258,0.034494,19.582788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,553,27463,18,27391,0.002622,0.997378,0.000655,5.854984,0.000670,0.999886,0.999574,0.000114,80.099330
389,617,27463,18,27409,0.001966,0.998034,0.000655,5.854984,0.000632,0.999892,0.999683,0.000108,80.640646
390,12,27463,18,27427,0.001311,0.998689,0.000655,5.854984,0.000628,0.999893,0.999790,0.000107,80.704615
391,509,27463,18,27445,0.000655,0.999345,0.000655,5.854984,0.000623,0.999894,0.999896,0.000106,80.775879
392,396,27463,18,27463,0.000000,1.000000,0.000655,5.854984,0.000608,0.999896,1.000000,0.000104,81.002954

time: 22.8 ms (started: 2024-01-30 16:55:52 -08:00)

In [61]:
metric = 'time'

df['id'] = df.index
# df['time_cs_diff'] = df[metric].cumsum().diff().fillna(df[metric].iloc[0])
df['time_cs_diff_per'] = df[metric] / df[metric].sum()
# df['count_cs_diff'] = df['count'].cumsum().diff().fillna(df['count'].iloc[0])
df['count_cs_diff_per'] = df['count'] / df['count'].sum()
df['time_slope2'] = df['time_cs_diff_per'] / df['count_cs_diff_per']
    
    # count_cs_diff = df['count'].cumsum().diff()
# count_cs_diff_per = df['count'] / df['count'].sum()

# slope = np.rad2deg(np.arctan2(time_cs_diff_per, count_cs_diff_per))

# df2 = df[['time', 'count', 'time_slope', 'time_cs_diff', 'time_cs_diff_per', 'count_cs_diff', 'count_cs_diff_per', 'time_slope2']]
df2 = df[['id', 'time', 'time_range', 'count', 'time_slope', 'time_slope2']]

df2.sort_values('time_slope2', ascending=False)
# df2

      id      time  time_range  count  time_slope  time_slope2
0      0  2.191843           5     32    0.000000   321.278545
1      1  0.328102         634     40    1.488861    38.474294
10    10  0.151844         449     75    6.011268     9.496399
13    13  0.031906         150     22    8.362841     6.802511
12    12  0.033468         185     40   14.294856     3.924629
..   ...       ...         ...    ...         ...          ...
390  390  0.000628          12     18   80.704615     0.163674
391  391  0.000623         509     18   80.775879     0.162397
392  392  0.000608         396     18   81.002954     0.158332
25    25  0.011320           6    384   82.127527     0.138272
23    23  0.020756           3   7673   89.273071     0.012688

[393 rows x 6 columns]

time: 11.8 ms (started: 2024-01-30 16:55:56 -08:00)

In [62]:
df2.sort_values('time', ascending=False)

      id      time  time_range  count  time_slope  time_slope2
0      0  2.191843           5     32    0.000000   321.278545
1      1  0.328102         634     40    1.488861    38.474294
2      2  0.277307         668    909   34.947604     1.430931
3      3  0.240101         450    567   26.723503     1.986249
4      4  0.201961         128    337   19.582788     2.810998
..   ...       ...         ...    ...         ...          ...
388  388  0.000670         553     18   80.099330     0.174540
389  389  0.000632         617     18   80.640646     0.164820
390  390  0.000628          12     18   80.704615     0.163674
391  391  0.000623         509     18   80.775879     0.162397
392  392  0.000608         396     18   81.002954     0.158332

[393 rows x 6 columns]

time: 9.51 ms (started: 2024-01-30 16:56:28 -08:00)

In [ ]:
# tan10 = 0.17632698
# tan20 = 0.36397023
# tan30 = 0.57735027
# tan40 = 0.83909963
# tan50 = 1.19175359
# tan60 = 1.73205081
# tan70 = 2.74747742
# tan80 = 5.67128182

In [30]:
tsid = df2[df2['time_slope'] < 15]['id']
tsid

0      0
5      5
6      6
12    12
20    20
      ..
79    79
80    80
81    81
82    82
83    83
Name: id, Length: 65, dtype: int64

time: 4.39 ms (started: 2024-01-30 16:37:29 -08:00)

In [31]:
tsid2 = df2[df2['time_slope2'] > 1.73]['id']
tsid2

5      5
6      6
12    12
15    15
19    19
      ..
79    79
80    80
81    81
82    82
83    83
Name: id, Length: 66, dtype: int64

time: 4.59 ms (started: 2024-01-30 16:37:44 -08:00)

In [33]:
len(np.intersect1d(tsid, tsid2))

64

time: 1.84 ms (started: 2024-01-30 16:37:48 -08:00)

In [ ]:
# 0.26794919
# 0.57735027
# 1.73205081
# 3.73205081

In [42]:
tsid15 = df2[df2['time_slope2'] > 0.26794919]['id']

time: 972 µs (started: 2024-01-30 16:40:55 -08:00)

In [40]:
tsid30 = df2[df2['time_slope2'] > 0.57735027]['id']

time: 1.41 ms (started: 2024-01-30 16:40:39 -08:00)

In [41]:
tsid45 = df2[df2['time_slope2'] > 1]['id']

time: 1.05 ms (started: 2024-01-30 16:40:47 -08:00)

In [39]:
tsid60 = df2[df2['time_slope2'] > 1.73205081]['id']

time: 845 µs (started: 2024-01-30 16:40:26 -08:00)

In [38]:
tsid75 = df2[df2['time_slope2'] > 3.73205081]['id']

time: 1.25 ms (started: 2024-01-30 16:40:24 -08:00)

In [44]:
set(tsid75).difference(set(tsid60))

set()

time: 2.58 ms (started: 2024-01-30 16:41:35 -08:00)

In [45]:
set(tsid60).difference(set(tsid45))

set()

time: 2.34 ms (started: 2024-01-30 16:41:47 -08:00)

In [46]:
set(tsid45).difference(set(tsid30))

set()

time: 2.21 ms (started: 2024-01-30 16:41:54 -08:00)

In [47]:
set(tsid30).difference(set(tsid15))

set()

time: 1.81 ms (started: 2024-01-30 16:42:00 -08:00)

In [55]:
set(tsid15).difference(set(tsid30))

{16}

time: 2.62 ms (started: 2024-01-30 16:45:04 -08:00)

In [56]:
set(tsid15).difference(set(tsid45))

{3, 4, 9, 11, 13, 16, 18, 27, 28}

time: 1.94 ms (started: 2024-01-30 16:45:08 -08:00)

In [57]:
set(tsid15).difference(set(tsid60))

{0, 2, 3, 4, 7, 9, 10, 11, 13, 14, 16, 17, 18, 27, 28}

time: 2.38 ms (started: 2024-01-30 16:45:16 -08:00)

In [50]:
tsid15x = df2[df2['time_slope'] < 15]['id']
tsid30x = df2[df2['time_slope'] < 30]['id']
tsid45x = df2[df2['time_slope'] < 45]['id']
tsid60x = df2[df2['time_slope'] < 60]['id']
tsid75x = df2[df2['time_slope'] < 75]['id']

time: 2.88 ms (started: 2024-01-30 16:42:56 -08:00)

In [51]:
set(tsid75x).difference(set(tsid60x))

{16}

time: 1.92 ms (started: 2024-01-30 16:43:04 -08:00)

In [52]:
set(tsid60x).difference(set(tsid45x))

{3, 4, 9, 11, 13, 18, 27, 28}

time: 2.72 ms (started: 2024-01-30 16:43:23 -08:00)

In [53]:
set(tsid45x).difference(set(tsid30x))

{2, 7, 10, 14, 17}

time: 2.34 ms (started: 2024-01-30 16:43:28 -08:00)

In [54]:
set(tsid30x).difference(set(tsid15x))

{15, 19}

time: 2.7 ms (started: 2024-01-30 16:43:35 -08:00)